.more-suggestions {
    margin-top: 50px;
    border-top: var(--main-border);
    padding-top: 40px;
}

.more-suggestions__title {
    margin-bottom: 30px;
}

.more-suggestions__icons {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.more-suggestions__icon {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.more-suggestions__icon-image img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.more-suggestions__icon-text {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}