.alt-header {
    position: fixed;
    top: 40px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 20px 20px var(--horizontal-space);
    background-color: white;
    z-index: 99;
}

.alt-header__column {
    width: 33%;
}

.alt-header__column:nth-child(2) {
    font-size: 32px;
    font-weight: 600;
}

.alt-header__column:first-child {
    margin-right: auto;
}

.alt-header__column:nth-child(2) {
    text-align: center;
}

.alt-header__column:last-child {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}

.alt-header__column span:first-child {
    margin-right: 30px;
}